@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before {
  content: '';
  display: table;
}

.owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 78px;
  text-align: center;
  font-size: 0;
}

.owl-dots .active span {
  background-color: #cd0000;
}

.owl-dot {
  display: inline-block;
  padding: 0 17px;
}

.owl-dot span {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "CLXRegular";
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header__top {
  padding-top: 34px;
  padding-bottom: 30px;
}

.header__bottom {
  border-top: 2px solid #919191;
  border-bottom: 2px solid #919191;
  position: relative;
}

.header__sub-nav {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.91);
  padding: 20px 0;
  display: block;
  z-index: 990;
}

.main__groop {
  padding-top: 30px;
}

.main__line-gray {
  background-color: #dbdbdb;
}

.main__s-title {
  text-align: center;
  padding: 30px 0;
}

.main__block {
  position: relative;
}

.main__block-bg {
  overflow: hidden;
  min-height: 832px;
}

.main__block-bg::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.88);
  z-index: -1;
}

.main__m-style {
  position: relative;
  margin-top: 95px;
  padding: 0 30px;
}

.main__m-sort {
  text-align: right;
  padding: 25px 0 20px;
}

.main__infoFilter {
  text-align: left;
  padding: 25px 0 20px;
}

.main__m-line {
  background-color: #ebebeb;
  height: 2px;
  width: 100%;
  display: block;
  margin: 0;
}

.main__m-filter {
  margin-top: 30px;
}

.main__m-prods {
  padding-top: 30px;
  padding-right: 126px;
}

.footer__top {
  border-bottom: 2px solid #919191;
  padding: 56px 0;
}

.footer__bottom {
  padding-top: 26px;
  padding-bottom: 82px;
}

.phone {
  font-size: 0;
  padding-left: 30px;
  padding-top: 8px;
}

.phone__item {
  display: inline-block;
  padding: 0 12px;
  position: relative;
}

.phone__item::before {
  content: '';
  display: block;
  width: 2px;
  height: 20px;
  background-color: #000;
  position: absolute;
  left: -1px;
  top: 50%;
  margin-top: -10px;
}

.phone__item:first-child {
  padding-left: 0;
}

.phone__item:first-child::before {
  display: none;
}

.phone__link {
  font-family: "CLXSemiBold";
  display: block;
  color: #000;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 100%;
}

.phone__link:hover, .phone__link:focus, .phone__link:active {
  text-decoration: none;
  color: #000;
}

.logo {
  text-align: center;
}

.logo__link {
  height: 37px;
  width: 369px;
  display: inline-block;
}

.logo__img {
  display: block;
}

.personal {
  text-align: right;
  width: 100%;
  font-size: 0;
}

.personal__item {
  display: inline-block;
  padding-left: 25px;
  position: relative;
}

.personal__item:first-child {
  padding-left: 0;
}

.personal__link {
  display: block;
  width: 33px;
  height: 37px;
}

.personal__count {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #cd0000;
  right: -11px;
  bottom: -11px;
  color: #fff;
  z-index: 1;
  display: block;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  font-family: "CLXSemiBold";
}

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  position: relative;
  padding-right: 90px;
}

.nav-flex {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  line-height: 48px;
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-family: "CLXSemiBold";
  letter-spacing: 0.1em;
  padding: 0 43px 0 30px;
  display: block;
  position: relative;
}

.nav__link::after {
  content: '<';
  position: absolute;
  right: 32px;
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: "CLXBook";
}

.nav__link:hover {
  text-decoration: none;
  color: #000;
  background-color: #efefef;
}

.nav__link:active, .nav__link:focus {
  color: #000;
  text-decoration: none;
}

.nav__link-active {
  background-color: #efefef;
}

.nav__search {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav__search-link {
  width: 34px;
  height: 29px;
  display: inline-block;
  margin-top: 9.5px;
  padding: 0;
}

.nav__search-link::after {
  display: none;
}

.nav__list {
  padding: 15px 30px;
}

.nav__list-item {
  display: block;
  width: 100%;
  text-align: left;
}

.nav__list-link {
  color: #000;
  font-size: 16px;
  font-family: "CLXBook", sans-serif;
  display: inline-block;
}

.nav__list-link:hover {
  text-decoration: underline;
  color: #000;
}

.nav__cat {
  display: block;
  overflow: hidden;
  height: 256px;
}

.nav__cat-img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.nav__cat-title {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  bottom: 50px;
  font-size: 31px;
  color: #fff;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
}

.indexSlider__item {
  position: relative;
}

.indexSlider__img {
  width: 100%;
  height: auto;
  display: block;
}

.indexSlider__text {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  text-align: center;
}

.indexSlider__title {
  font-family: "BicubikRegular", sans-serif;
  font-size: 81px;
  line-height: 100%;
  letter-spacing: 0.001em;
  color: #cd0000;
}

.indexSlider__description {
  font-family: "CLXSemiBold", sans-serif;
  font-size: 68px;
  color: #fff;
  letter-spacing: 0.0025em;
  color: #fff;
}

.groop {
  height: 596px;
  overflow: hidden;
  position: relative;
  display: block;
}

.groop__img {
  min-height: 100%;
  min-width: 100%;
}

.groop__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
}

.groop__title {
  display: block;
  text-transform: uppercase;
  font-size: 41px;
  line-height: 41px;
  letter-spacing: 0.0025em;
  color: #fff;
  font-family: "CLXSemiBold", sans-serif;
}

.groop__description {
  display: block;
  font-size: 32px;
  color: #fff;
  letter-spacing: 0.0025px;
  line-height: 32px;
}

.baner {
  position: relative;
}

.baner:first-child {
  margin-top: 30px;
}

.baner__img {
  width: 100%;
  height: auto;
  display: block;
}

.baner__text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 2;
}

.baner__title {
  color: #cd0000;
  text-transform: uppercase;
  font-family: "BicubikRegular", sans-serif;
  letter-spacing: 0.001em;
  font-size: 81px;
  line-height: 100%;
  display: block;
  text-align: center;
}

.baner__description {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 68px;
  line-height: 67px;
  letter-spacing: 0.0025em;
  font-family: "CLXSemiBold", sans-serif;
  text-transform: uppercase;
}

.mSubtitle {
  width: 100%;
  text-align: center;
  padding: 60px 0;
}

.mSubtitle__text {
  color: #000;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 34px;
}

.tagsItem {
  margin-bottom: 30px;
  display: block;
}

.tagsItem__img {
  overflow: hidden;
}

.tagsItem__img img {
  width: 100%;
  height: auto;
  display: block;
}

.tagsmore {
  text-align: center;
  width: 100%;
  padding: 6px 0 36px;
}

.tagsmore__link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
  position: relative;
  padding-right: 15px;
}

.tagsmore__link:hover {
  text-decoration: underline;
  color: #000;
}

.tagsmore__link::after {
  content: '>';
  color: #000;
  font-family: "CLXBook", sans-serif;
  font-size: 15px;
  position: absolute;
  right: 0;
  top: -1px;
}

.Ldispatch {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.Ldispatch__link {
  height: 50px;
  line-height: 46px;
  display: inline-block;
  width: 280px;
  background-color: #292929;
  border: 2px solid #292929;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
  font-size: 16px;
}

.Ldispatch__link:hover {
  text-decoration: none;
  color: #292929;
  background-color: transparent;
}

.Rdispatch {
  margin-left: -50px;
  padding: 50px 0;
}

.Rdispatch__input {
  display: inline-block;
  width: 280px;
  height: 42px;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  border-top: 2px solid transparent;
  background-color: transparent;
  text-align: center;
  margin-right: 30px;
  font-size: 16px;
  font-family: "CLXBook", sans-serif;
}

.Rdispatch__button {
  height: 50px;
  line-height: 46px;
  display: inline-block;
  width: 280px;
  background-color: #292929;
  border: 2px solid #292929;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
  font-size: 16px;
}

.Rdispatch__button:hover {
  text-decoration: none;
  color: #292929;
  background-color: transparent;
}

.f-logo {
  text-align: left;
}

.f-logo__link {
  display: inline-block;
}

.f-logo__img {
  max-width: 100%;
  height: auto;
}

.fList {
  margin-top: -10px;
  margin-bottom: -10px;
}

.fList__item {
  text-align: left;
  padding: 10px 0;
}

.fList__link {
  color: #000;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
}

.fList__link:hover {
  color: #000;
  text-decoration: underline;
}

.fList__link:focus, .fList__link:active {
  color: #000;
  text-decoration: none;
}

.social {
  text-align: center;
}

.social__title {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
  display: inline-block;
}

.social__list {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.social__item {
  display: inline-block;
  padding: 0 2px;
}

.social__link {
  width: 81px;
  height: 53px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}

.copy {
  text-align: center;
}

.copy__text {
  display: inline-block;
  font-size: 14px;
  color: #000;
  font-family: "CLXBook", sans-serif;
  letter-spacing: 0.025em;
}

.s-title {
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  line-height: 40px;
  font-family: "CLXSemiBold", sans-serif;
  text-align: center;
}

.m-style {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.m-style__item {
  position: relative;
}

.m-style__link:hover, .m-style__link:focus, .m-style__link:active {
  text-decoration: none;
}

.m-style__title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-family: "CLXSemiBold", sans-serif;
  color: #000;
  letter-spacing: 0.025em;
  margin-bottom: 18px;
}

.m-style__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -2;
}

.m-style__loop {
  position: absolute;
  left: -20px;
  bottom: -100px;
  display: none;
  z-index: 2;
}

.m-style__icon {
  display: block;
  height: 176px;
  width: 122px;
  position: relative;
}

.m-style__icon::before {
  content: '';
  display: block;
  width: 122px;
  height: 122px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50%;
}

.m-style__icon::after {
  content: '';
  display: block;
  width: 1px;
  height: 54px;
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.m-style__text {
  position: absolute;
  display: block;
  right: -117px;
  top: 125px;
  width: 170px;
  font-size: 9.5px;
  font-family: "CLXBook", sans-serif;
  line-height: 12px;
  letter-spacing: 0.025em;
  color: #000;
}

.infoFilter {
  font-size: 24px;
  color: #000;
  font-family: "CLXSemiBold", sans-serif;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  display: inline-block;
}

.m-sort {
  display: inline-block;
}

.m-sort__text {
  font-size: 24px;
  color: #000;
  font-family: "CLXSemiBold", sans-serif;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  display: inline-block;
}

.m-sort__item {
  display: inline-block;
  padding: 0 10px;
  font-size: 0;
  cursor: pointer;
}

.m-sort__item-active .m-sort__icon {
  background-color: #000;
}

.m-sort__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #c1c1c1;
  margin-left: 5px;
}

.m-sort__icon:first-child {
  margin-left: 0;
}

.m-prods {
  display: block;
  width: 100%;
  position: relative;
}

.m-prods__img {
  overflow: hidden;
  height: 473px;
  position: relative;
}

.m-prods__photo {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.m-prods__text {
  text-align: center;
  padding: 16px 0;
  display: block;
}

.m-prods__text:hover, .m-prods__text:active, .m-prods__text:focus {
  text-decoration: none;
}

.m-prods__title {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "CLXSemiBold", sans-serif;
  line-height: 18px;
  color: #000;
  letter-spacing: 0.025em;
}

.m-prods__type {
  font-size: 11px;
  letter-spacing: 0.025em;
  line-height: 18px;
  color: #000;
  font-family: "CLXBook", sans-serif;
  display: block;
  text-align: center;
}

.m-prods__price {
  font-size: 15px;
  letter-spacing: 0.075em;
  line-height: 18px;
  color: #000;
  font-family: "CLXBook", sans-serif;
  display: block;
  text-align: center;
}

.m-prods__price::after {
  content: 'Ñ€';
  text-transform: uppercase;
  font-family: "CLXBook", sans-serif;
}

.m-prods__price-old {
  text-decoration: line-through;
}

.m-prods__price-new {
  color: #f00;
}

.m-prods__news {
  position: absolute;
  left: 26px;
  top: 0;
  height: 46px;
  z-index: 2;
  background-color: #c5f1c7;
  width: 94px;
  padding-top: 16px;
}

.m-prods__news-text {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
}

.m-prods__hit {
  position: absolute;
  left: 26px;
  top: 0;
  height: 90px;
  z-index: 2;
  background-color: #000;
  width: 94px;
  padding-top: 26px;
}

.m-prods__hit-text {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
}

.m-prods__act {
  position: absolute;
  left: 26px;
  top: 0;
  height: 90px;
  z-index: 2;
  background-color: #ff0000;
  width: 94px;
  padding-top: 35px;
}

.m-prods__act-text {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.025em;
  font-family: "CLXSemiBold", sans-serif;
}
