/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1515px) {
  .m-lcab__item {
    margin: 0 10px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
  .phone__link {
    font-size: 16px;
  }
  .nav__link {
    font-size: 14px;
  }
  .phone {
    padding-top: 22px;
  }
  .nav__list-link {
    font-size: 12px;
  }
  .nav__cat-title {
    font-size: 27px;
  }
  .nav__cat {
    height: 220px;
  }
  .indexSlider__title {
    font-size: 77px;
  }
  .indexSlider__description {
    font-size: 64px;
  }
  .groop__title {
    font-size: 37px;
  }
  .groop__description {
    font-size: 28px;
  }
  .baner {
    overflow: hidden;
  }
  .baner__title {
    font-size: 77px;
  }
  .baner__description {
    font-size: 64px;
  }
  .mSubtitle__text {
    font-size: 30px;
  }
  .Ldispatch__link {
    font-size: 12px;
  }
  .Rdispatch__input {
    font-size: 12px;
  }
  .Rdispatch__button {
    font-size: 12px;
  }
  .fList__link {
    font-size: 12px;
  }
  .social__title {
    font-size: 12px;
  }
  .copy__text {
    font-size: 12px;
  }
  .personal__count {
    font-size: 12px;
  }
  .c-description__color {
    margin-left: 0;
    margin-right: 0;
  }
  .r-description__color-top {
    width: 100%;
  }
  .m-optcorz__subtitle:first-child {
    width: 150px;
  }
  .m-preimushestva {
    width: 100%;
  }
  .m-lcab__bottom {
    width: 100%;
  }
  .m-content p {
    font-size: 12px;
  }
  .m-brand__colection-title {
    font-size: 25px;
    line-height: 37px;
  }
  .m-brand__top span {
    font-size: 20px;
    line-height: 30px;
  }
  .groop {
    height: 596px;
    width: auto;
    max-height: auto;
    max-width: auto;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .images-slider-block {
    padding-right: 0;
  }
  .phone {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0;
    padding-left: 0;
  }
  .personal {
    text-align: center;
  }
  .header__top {
    padding: 20px 0;
  }
  .logo {
    padding-bottom: 5px;
  }
  .Rdispatch {
    margin-left: -51px;
  }
  .Rdispatch__input {
    margin-right: 22px;
  }
  .f-logo {
    text-align: center;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__top {
    padding: 20px 0;
  }
  .fList__item {
    text-align: center;
  }
  .footer__bottom {
    padding: 20px 0;
  }
  .social__list {
    padding: 20px 0;
  }
  .personal {
    margin-left: -25px;
  }
  .main__block-bg {
    min-height: auto;
  }
  .b-prods__fprosm {
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
  .b-prods__fprosm a {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 18px;
  }
  .b-prods__title {
    font-size: 20px;
  }
  .b-prods__price {
    font-size: 28px;
  }
  .b-prods__varcolor-item {
    margin-left: 10px;
  }
  .b-prods__varcolor-list {
    margin-left: -10px;
  }
  .b-prods__varcolor-title {
    font-size: 18px;
  }
  .b-prods__varcolor-description {
    font-size: 16px;
  }
  .b-prods__news-text {
    font-size: 18px;
  }
  .b-prods__news {
    height: 64px;
    width: 110px;
    left: 60px;
    top: 30px;
  }
  .b-prods__hit {
    height: 64px;
    width: 110px;
    left: 60px;
    top: 30px;
  }
  .b-prods__hit-text {
    font-size: 18px;
  }
  .b-prods {
    padding: 30px;
  }
  .m-register__input {
    width: 228px;
  }
  .ui-selectmenu-button.ui-button {
    width: 228px;
  }
  .m-register__line {
    width: 100%;
  }
  .c-prods__l-slider {
    width: 400px;
  }
  .c-prods__r-description {
    width: 100%;
  }
  .c-description__color {
    margin-left: 0;
    margin-right: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .c-description__color .r-description__color-top {
    width: 100%;
    height: auto;
  }
  .c-description__color .r-description__color-item {
    width: 100%;
  }
  .c-description__color .r-description__img {
    position: static;
    transform: none;
    -webkit-transform: none;
  }
  .m-lcomment__block {
    width: 100%;
  }
  .m-lcomment__title {
    width: 100%;
  }
  .r-description__razm-list.c-description__razm-list {
    text-align: right;
  }
  .m-optcorz__subtitle {
    padding: 0 10px;
    font-size: 14px;
  }
  .m-preimushestva__title-big {
    font-size: 24px;
  }
  .m-preimushestva__wrapper {
    left: 10px;
    right: 10px;
  }
  .container-abs {
    bottom: 60px;
  }
  .m-lcab__item {
    margin: 0 5px;
  }
  .m-brand__img {
    height: 100%;
    width: auto;
    min-width: 100%;
  }
  .m-brand__colection-img {
    width: 50%;
  }
  .m-brand__colection-text {
    width: 50%;
  }
  .m-brand__right img {
    display: block;
    max-width: 100%;
  }
  .m-preimushestva__right {
    padding: 0 10px;
  }
  .corzpopup {
    right: 50%;
    margin-right: -230px;
  }
  .main__block {
    padding-bottom: 0;
  }
  .r-description__color-item {
    width: 95px;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1080px) {
  .m-prods__popup {
    width: 95%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .groop {
    height: 430px;
  }
  .Ldispatch__link {
    width: 100%;
  }
  .Rdispatch__button {
    width: 200px;
  }
  .Rdispatch {
    margin-left: 0;
    font-size: 0;
  }
  .Rdispatch__input {
    margin-right: 30px;
    width: 240px;
  }
  .nav__list {
    padding: 10px 0;
  }
  .nav__item {
    width: 100%;
    text-align: left;
    padding: 5px 0;
  }
  .nav__item:last-child {
    text-align: center;
  }
  .nav {
    display: block;
    padding: 5px 0;
  }
  .nav__search {
    display: inline-block;
  }
  .nav__link {
    line-height: 30px;
  }
  .personal__link-mob {
    color: #000;
    font-size: 45px;
    line-height: 37px;
    vertical-align: middle;
  }
  .personal__link-mob:hover, .personal__link-mob:focus, .personal__link-mob:active {
    text-decoration: none;
    color: #000;
  }
  .header {
    position: relative;
  }
  .header__bottom {
    position: absolute;
    top: 100%;
    z-index: 90;
    background-color: #fff;
    left: 0;
    right: 0;
    display: none;
  }
  .nav__link:hover {
    background-color: transparent;
  }
  .nav__cat {
    margin-bottom: 15px;
  }
  .header__sub-nav {
    top: 100%;
  }
  .personal {
    margin-left: 0;
  }
  .main__m-prods {
    padding-right: 0;
  }
  .l-slider__item {
    text-align: center;
  }
  .m-prods__r-description {
    margin-top: 20px;
    padding: 0;
  }
  .m-prods__wrapper {
    padding: 20px;
  }
  .main__m-vhod {
    padding-left: 0;
    padding-right: 0;
  }
  .m-zakotpr__number,
  .m-zakotpr__description {
    margin-left: 0;
    margin-right: 0;
  }
  .m-register__input {
    width: 204px;
  }
  .ui-selectmenu-button.ui-button {
    width: 204px;
  }
  .ui-selectmenu-text {
    font-size: 13px;
  }
  .m-reviews__item {
    width: 100%;
  }
  .h-search__input {
    width: 100%;
  }
  .h-search {
    margin-top: 0;
  }
  .nav__search {
    position: relative;
  }
  .c-prods__l-slider {
    width: 100%;
  }
  .c-prods__r-description {
    width: 100%;
  }
  .r-description__razm-list.c-description__razm-list {
    text-align: center;
  }
  .m-radio-2 {
    width: 30%;
    margin: 0;
  }
  .main__m-cont {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .m-cont__img img {
    display: block;
  }
  .m-cont__img {
    margin-top: 16px;
  }
  .m-cont__right {
    padding-right: 0;
  }
  .m-cont__map iframe {
    max-width: 100%;
    width: 100%;
  }
  .main__m-optcorz {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .m-optcorz {
    min-width: 991px;
    overflow: hidden;
    -webkit-transform: translateZ(0px);
  }
  .main__m-sumcorz-left {
    text-align: center;
  }
  .m-sumcorz__sum {
    width: 100%;
    float: none;
    text-align: center;
  }
  .m-sumcorz__right {
    width: 100%;
    float: none;
    text-align: center;
  }
  .m-promocorz__input {
    display: block;
    margin: 0 auto 15px;
  }
  .m-promocorz__button {
    display: block;
    margin: 0 auto;
  }
  .m-promocorz {
    padding: 15px 0;
  }
  .m-sumcorz {
    width: 100%;
    display: block;
  }
  .main__m-sumcorz {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .m-dostavka__item {
    margin: 0 15px;
  }
  .m-content__table {
    min-width: 991px;
    overflow: hidden;
    -webkit-transform: translateZ(0px);
  }
  .m-content__table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .m-oformzak {
    width: 100%;
  }
  .m-oformzak__item {
    margin: 15px 0;
  }
  .m-oformzak__right {
    width: auto;
  }
  .m-preimushestva {
    margin-bottom: 15px;
  }
  .container-abs {
    width: 100%;
    bottom: 20px;
  }
  .m-konkurs__title {
    font-size: 50px;
  }
  .m-konkurs__description {
    font-size: 14px;
    line-height: 16px;
  }
  .m-lcab__item {
    width: 50%;
    display: block;
    float: left;
    margin: 0;
  }
  .m-lcab__row {
    width: 700px;
  }
  .m-lcab__input {
    width: 570px;
  }
  .m-lcab__textarea {
    width: 570px;
  }
  .right-lcab {
    width: 384px;
  }
  .m-lcab__line {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .m-lcab__history {
    width: 700px;
    margin: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0px);
  }
  .m-lcab__line::after {
    display: none;
  }
  .m-lcab__text {
    width: 100%;
  }
  .m-brand__left {
    width: 100%;
    height: 350px;
    float: none;
  }
  .m-brand__right {
    position: static;
    height: auto;
    background-color: #000;
    transform: none;
    -webkit-transform: none;
    width: 100%;
    float: none;
    padding: 30px;
    text-align: center;
  }
  .m-brand__item {
    background-color: transparent;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    height: auto;
    margin-bottom: 15px;
  }
  .m-brand__right img {
    display: inline-block;
  }
  .m-brand__photo {
    text-align: center;
    margin-bottom: 15px;
  }
  .m-brand__photo img {
    min-width: auto;
    height: auto;
    display: inline-block;
    max-width: 100%;
  }
  .m-brand__top {
    width: 400px;
    margin: 0 auto 15px;
  }
  .m-brand__bottom {
    width: 400px;
    margin: 0 auto 15px;
  }
  .m-partners__steps {
    width: 100%;
  }
  .m-partners__steps {
    padding: 20px;
  }
  .m-partners__item {
    padding: 0 20px;
  }
  .m-partners__img {
    padding: 50px 0;
  }
  .m-partners__item::after {
    right: -12px;
  }
  .nav__link::after {
    line-height: 1.6;
  }
  .mobsubnav {
    width: 100% !important;
    position: static !important;
  }
  .mobsubnav__list {
    padding: 0;
  }
  .popupPhoto {
    width: 98%;
    height: auto;
  }
  .sliderNav__item {
    text-align: center;
    overflow: hidden;
  }
  .sliderNav__img {
    height: 100%;
    width: auto;
    display: inline-block;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 840px) {
  .ok-podpiska {
    width: auto;
    left: 15px;
    right: 15px;
  }
  .ok-podpiska__right {
    display: none;
  }
  .ok-podpiska__left {
    width: 100%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .smartfilter {
    display: none;
  }
  body .main__m-filter .bx-filter-title::after {
    content: '+';
  }
  body .main__m-filter .bx-filter-title-active::after {
    content: '-' !important;
  }
  .bx-filter .bx-filter-section {
    padding-right: 0;
  }
  .logo__link {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .logo__img {
    max-width: 100%;
  }
  .phone__item::before {
    display: none;
  }
  .phone__item {
    display: block;
    padding: 0;
    text-align: center;
    padding-bottom: 5px;
  }
  .phone {
    padding-bottom: 5px;
  }
  .indexSlider__text {
    bottom: 10px;
  }
  .indexSlider__description {
    font-size: 35px;
  }
  .indexSlider__title {
    font-size: 50px;
  }
  .groop {
    height: 280px;
  }
  .baner__title {
    font-size: 38px;
  }
  .baner__description {
    font-size: 32px;
  }
  .baner__img {
    height: 220px;
    width: auto;
  }
  .baner__description {
    line-height: 36px;
  }
  .Rdispatch__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .Rdispatch__button {
    width: 100%;
  }
  .Rdispatch {
    padding: 20px 0;
  }
  .Ldispatch {
    padding: 20px 0 0 0;
  }
  .nav__search {
    position: static;
  }
  .m-prods {
    width: 290px;
    margin: 0 auto;
    height: auto;
  }
  .main__m-sort {
    text-align: center;
    padding: 10px 0;
  }
  .main__infoFilter {
    text-align: center;
    padding: 10px 0;
  }
  .fancybox-close-small {
    top: -9px;
    right: -7px;
    transform: scale(0.3);
  }
  .b-prods {
    padding: 15px;
  }
  .b-prods__news {
    left: 30px;
    top: 15px;
  }
  .b-prods__hit {
    top: 15px;
    left: 30px;
  }
  .m-vhod__title,
  .m-vhod__text,
  .m-vhod__label,
  .m-vhod__label span,
  .m-vhod__input,
  .m-vhod__rpass-wp,
  .m-vhod__rm,
  .m-vhod__button-wp {
    text-align: center !important;
    padding-right: 0;
    display: block;
    width: 100%;
    float: none;
  }
  .main__m-vhod {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .m-register__text,
  .m-register__label,
  .m-register__label span,
  .m-register__input {
    text-align: center !important;
    padding-right: 0;
    display: block;
    width: 100%;
    float: none;
    right: 0;
  }
  .ui-selectmenu-button.ui-button {
    width: 100%;
  }
  .m-register__captcha .m-register__label,
  .m-register__captcha .m-register__label span {
    width: 100% !important;
    text-align: center;
    height: 37px;
  }
  .m-register__captcha-right {
    float: none;
    display: inline-block;
  }
  .m-register__line {
    float: none;
  }
  .m-register__captcha {
    text-align: center;
  }
  .m-register__row {
    margin-bottom: 15px;
  }
  .c-prods__l-slider {
    margin-bottom: 0;
  }
  .c-prods__r-description {
    margin-bottom: 0;
  }
  .card-tabs__bottom {
    min-height: 200px;
  }
  .m-lmodel__list {
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .pcorz {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .m-zakcomment {
    width: 100%;
    margin: 30px 0 30px;
  }
  .m-zakcomment__left,
  .m-zakcomment__right {
    width: 100%;
  }
  .m-zakcomment__right {
    margin-top: 20px;
  }
  .m-zakcomment__check {
    margin-top: 20px;
  }
  .m-radio-2,
  .m-radio {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .m-offzakaz__row {
    width: 100%;
  }
  .m-offzakaz__label {
    width: 100%;
    text-align: center;
  }
  .m-offzakaz__label span {
    display: block;
    width: 100%;
    text-align: center;
    right: 0;
  }
  .m-offzakaz__input {
    display: block;
    width: 100%;
    float: none;
  }
  .m-offzakaz__block {
    width: 100%;
    text-align: center;
  }
  .m-offzakaz__block .m-offzakaz__row .m-offzakaz__input {
    width: 100%;
  }
  .m-offzakaz__block .m-offzakaz__row {
    float: none;
    width: 100%;
  }
  .m-offzakaz__block .m-offzakaz__row:nth-child(2n) .m-offzakaz__label span {
    right: 0;
  }
  .m-offzakaz__yslov {
    margin-left: 0;
  }
  .m-cont__map iframe {
    height: 290px;
  }
  .m-promocorz__input {
    width: 100%;
  }
  .m-promocorz__button {
    width: 100%;
  }
  .m-sumcorz__button {
    width: 100%;
  }
  .m-sumcorz__catalog {
    width: 100%;
  }
  .m-dostavka__item {
    margin: 0 0 15px 0;
    display: block;
    width: 25%;
    float: left;
  }
  .m-dostavka__dostavka {
    margin-top: -50px;
  }
  .m-dostavka__title {
    font-size: 12px;
  }
  .m-dostavka__img {
    max-width: 100%;
  }
  .m-dostavka__dostavka::after {
    display: none;
  }
  .m-dostavka__buttons {
    padding: 15px 0;
  }
  .m-dostavka__buttons-left {
    width: 100%;
    margin-bottom: 15px;
  }
  .m-dostavka__buttons-right {
    width: 100%;
    margin-left: 0;
  }
  .m-steps__title {
    position: static;
  }
  .m-oformzak__left {
    float: none;
    width: 100%;
    text-align: center;
  }
  .m-oformzak__left img {
    display: inline-block;
  }
  .m-oformzak__right {
    position: static;
    width: 100%;
    transform: none;
    -webkit-transform: none;
    margin-top: 10px;
    text-align: center;
  }
  .m-loytable__wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .m-loytable {
    width: 686px;
    overflow-x: scroll;
  }
  .m-preimushestva__left,
  .m-preimushestva__right {
    width: 100%;
    float: none !important;
  }
  .m-konkurs__img {
    height: 586px;
    width: auto;
  }
  .main__line-konkurs {
    margin-top: 0;
  }
  .m-lcab__row {
    width: 100%;
    padding-left: 0 !important;
  }
  .m-lcab__label {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .m-lcab__input {
    width: 100%;
  }
  .m-lcab__textarea {
    width: 100%;
    height: 190px;
  }
  .m-lcab__subtitle {
    font-size: 18px;
  }
  .right-lcab {
    position: static;
    width: 100%;
    left: auto;
    bottom: auto;
  }
  .m-brand__item {
    width: 100%;
  }
  .m-brand__photo {
    height: auto;
  }
  .m-brand__top {
    width: 100%;
  }
  .m-brand__bottom {
    width: 100%;
  }
  .m-brand__colection-img {
    width: 100%;
    float: none;
  }
  .m-brand__colection {
    height: auto;
  }
  .m-brand__colection-text {
    position: static;
    transform: none;
    -webkit-transform: none;
    padding: 30px;
    text-align: center;
    width: 100%;
  }
  .m-brand__colection-img img {
    height: auto;
    width: 100%;
  }
  .m-brand__colection-title {
    padding-bottom: 20px;
  }
  .m-partners__list {
    display: block;
  }
  .m-partners__item {
    width: 100%;
    margin-bottom: 16px;
  }
  .m-partners__item::after {
    display: none;
  }
  .m-partners__img {
    padding: 30px 0;
  }
  .m-register__label-no .m-register__text {
    margin-bottom: 4px;
  }
  .m-register__file {
    margin: 0 auto;
    float: none;
  }
  .m-register__label-no span {
    top: 0;
    transform: none;
    -webkit-transform: none;
  }
  .m-register__label-no {
    position: static;
    transform: none;
    -webkit-transform: none;
  }
  .m-razmer {
    padding-top: 0;
  }
  .m-razmer__left {
    margin-top: 18px;
    float: none;
    width: 100%;
  }
  .m-razmer__left > div {
    text-align: center !important;
  }
  .m-razmer__right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .m-razmer__right img {
    max-width: 100%;
    display: inline-block;
  }
  .m-raz .m-loytable {
    min-width: 550px;
    overflow-x: auto;
  }
  .l-slider__img {
    height: 335px;
  }
  .m-prods:hover .b-prods__varcolor {
    right: -15px;
    left: -15px;
  }
  .m-prods::after {
    left: -15px;
    right: -15px;
  }
  body .m-prods__fprosm {
    display: none !important;
  }
  body .b-prods__fprosm {
    display: none !important;
  }
  .m-prods:hover {
    width: 290px;
  }
  .m-prods:hover .m-prods__fprosm {
    display: none;
  }
  .m-prods:hover:after {
    content: '';
    display: none;
  }
  .m-prods:hover .b-prods__varcolor {
    display: none;
    left: 0;
    right: 0;
  }
  .m-prods:hover .m-prods__buttons {
    display: none;
  }
  .c-description__price {
    margin-top: 15px;
  }
  .r-description__coli {
    padding-top: 10px;
  }
  .r-description__rost {
    padding-top: 10px;
  }
  .r-description__razm {
    padding-top: 10px;
  }
  .popup-img {
    width: 90%;
  }
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
  .corzpopup {
    width: 290px;
    left: -196px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 500px) {
  .m-preimushestva {
    display: block;
  }
  .m-preimushestva__right {
    padding: 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .r-description__color-top {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .r-description__razm-title {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .r-description__razm-list {
    width: 100%;
    text-align: center;
  }
  .r-description__razm-description {
    width: 100%;
    padding-left: 0;
  }
  .r-description__rost-title {
    width: 100%;
    text-align: center;
  }
  .r-description__rost-list {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .r-description__coli-title {
    width: 100%;
    text-align: center;
  }
  .r-description__coli-block {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .r-description__coli {
    text-align: center;
  }
  .m-zakotpr {
    width: 100%;
  }
  .m-zakotpr__item {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .c-description__razm-list {
    margin-left: 0;
  }
  .m-lmodel .m-lmodel__item {
    padding: 0;
  }
  .m-reviews__line-input {
    width: 100%;
  }
  .m-reviews__line-text-last {
    margin-left: 0;
  }
  .m-reviews__block {
    margin-bottom: 30px;
  }
  .m-konkurs__logo {
    width: 100%;
  }
  .corzpopup__item {
    width: 100%;
    position: static;
  }
  .corzpopup__left {
    width: 100%;
    text-align: center;
  }
  .corzpopup__right {
    width: 100%;
    margin-left: 0;
    position: static;
    text-align: center;
  }
  .corzpopup__razmer {
    text-align: center;
    margin-top: 7px;
  }
  .yoursize {
    left: 15px;
    right: 15px;
    width: auto;
  }
  .yoursize__item td {
    font-size: 12px;
  }
  .m-prods__wrapper {
    padding: 10px;
  }
  .infoFilter {
    font-size: 18px;
  }
  .m-sort__text {
    font-size: 18px;
  }
  .yoursize__wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .r-description__razm-list {
    margin-left: 0;
  }
  .r-description__rost-list {
    margin-left: 0;
  }
  .m-style__item {
    width: 70%;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .personal__item-mob {
    display: none;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
